---
pagination:
  data: hoops
  size: 1
  alias: hoop
permalink: "hoops/{{ hoop.name | slugify }}/"
layout: base_layout.html
eleventyComputed:
  title: "{{ hoop.name }} | Through Hoops"
---

{% assign paragraphs = hoop.bio | newline_to_br | split: '<br />' %} {% assign
quoteLines = hoop.quote | newline_to_br %}

<div class="grid grid-cols-6 mb-8">
  <div class="col-span-2 relative -ml-8" id="zoom">
    <img src="{{ "/" | append: hoop.thumb_img | url }}" alt="{{ hoop.name }}"
    class="w-full"
    id="magnify-image" /> 
    <div
      id="magnify"
      style="background-image: url('{{ "/" | append: hoop.img | url }}');"
      class="w-36 h-36 absolute pointer-events-none rounded-full z-10 opacity-0 border border-4 border-light shadow-[0_5px_10px_-2px_rgba(0,0,0,0.3)] transition-opacity ease-linear duration-200"
    ></div>
  </div>
  <section class="col-span-4">
    <h1 class="font-display text-6xl">{{ hoop.name }}</h1>

    {% for paragraph in paragraphs %}
    <p class="mb-4">{{ paragraph }}</p>
    {% endfor %}
  </section>
</div>
<footer class="text-center">
  <h2 class="font-display text-2xl">"{{quoteLines}}"</h2>
  <p><small>{{ hoop.quote_location }}</small></p>
</footer>
<script>
  {% include "assets/scripts/magnify.js" %}
</script>
