<title>{{ title }}</title>
<meta name="description" content="{{description | replace: "\"", "'"}}" />
<meta property="og:title" content="{{ title}}" />
<meta property="og:url" content="https://throughhoops.com{{ page.url }}" />
<meta property="og:description" content="{{description | replace: "\"", "'"}}"
/>
<meta property="og:image" content="{{image}}" />
<meta property="og:type" content="{{og_type}}" />
<meta property="og:article:author" content="Mercedes Bernard" />
<meta property="og:article:tag" content="{{og_tag}}" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:description" content="{{description | replace: "\"",
"'"}}" />
<meta property="twitter:url" content="https://throughhoops.com{{ page.url }}" />
<meta property="twitter:image" content="{{image}}" />
<meta name="twitter:creator" content="@mercedescodes" />
