<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="icon"
      href="{{ '/assets/images/favicon.ico' | url }}"
      sizes="any"
    />
    <link
      rel="icon"
      href="{{ '/assets/images/favicon.svg' | url}}"
      type="image/svg+xml"
    />
    <link rel="manifest" href="{{ '/manifest.json' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/assets/styles/tailwind.css' | url }}" />
    {% include "./_seo.html" %}
  </head>
  <body class="font-body leading-7 text-xl">
    <div
      class="bg-light text-dark dark:bg-dark dark:text-light min-h-screen overflow-hidden"
    >
      <div class="max-w-screen-xl pt-6 pb-8 mx-auto px-4">
        <nav class="flex justify-between mb-8 text-base md:text-xl">
          <a href="{{ '/' | url }}"> {% render '_logo.html' %} </a>
          <ul class="list-none flex items-center">
            <li class="mr-3 md:mr-8">
              <a href="{{ '/about' | url }}">About</a>
            </li>
            <li class="mr-4">
              <a href="{{ '/contact' | url }}">Contact</a>
            </li>
            <li>{% render '_dark_mode_toggle.html' %}</li>
          </ul>
        </nav>
        <main class="mb-8 mt-2">{{ content }}</main>
        <footer class="flex justify-end mt-8 text-xs">
          <p class="flex items-center">
            Made with ❤️ by &nbsp;
            <a href="https://mercedesbernard.com">Mercedes Bernard</a>
            <a
              href="https://instagram.com/herstoryhoops"
              class="block w-6 h-4 ml-2 pl-2 border-l border-current"
            >
              <img src="{{"/assets/images/Instagram_Glyph_black.svg" | url }}"
              alt="Instagram" />
            </a>
          </p>
        </footer>
      </div>
    </div>
    <script>
      {% include "../assets/scripts/darkMode.js" %}
    </script>
  </body>
</html>
