@tailwind base;
@tailwind components;
@tailwind utilities;

.hoop-list-item {
  grid-column: span 2;
}

.hoop-list-item:nth-child(5n + 1) {
  grid-column: 2 / span 2;
}

@screen md {
  .hoop-list-item:nth-child(5n + 1) {
    grid-column: span 2;
  }

  .hoop-list-item:nth-child(7n + 1) {
    grid-column: 2 / span 2;
  }
}

@screen lg {
  .hoop-list-item:nth-child(5n + 1) {
    grid-column: span 2;
  }

  .hoop-list-item:nth-child(7n + 1) {
    grid-column: span 2;
  }

  .hoop-list-item:nth-child(9n + 1) {
    grid-column: 2 / span 2;
  }
}

.hoop-image {
  transform: translateX(-50%) translateY(-50%);
}

.hoop-image:hover {
  transform: translateX(-50%) translateY(-50%) scale(2);
}